html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    box-sizing: border-box;
}
html { height: 101%; 
} /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block; 
}
ol, ul { 
    list-style: none; 
}
blockquote, q { 
    quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after { 
    content: ''; content: none; 
}
strong { 
    font-weight: bold; 
} 
input { 
    outline: none; 
}
table { 
    border-collapse: collapse; border-spacing: 0; 
}
img { 
    border: 0; max-width: 100%; 
}
a { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: underline; 
}
/* <!-- -------------------------------HEADER------------------------------------- --> */
.header {
    width: 100%;
    height: 112px;
    background-color: #6725A8;
    display: flex;
    position: absolute;
}
.header-container {
    padding: 16px 17px 16px 24px;
    width: 1024px;
    /* height: 88px; */
    display: flex;
    margin: 0 auto;
}
.burger-menu {
    display: flex;
    margin-left: 16px;
    width: 170px;
    height: 56px;
}
.burger {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-right: 16px;
    /* padding-top: 15px; */ 
    text-align: justify;
    display: flex;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
}
.product-titles {
    display: block;
    width: 106px;
    font-family: Segoe UI;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 85.714% */
    font-variant: all-small-caps;
    letter-spacing: 0.56px;
    color: #fff;
    text-align: justify;
}
.product-title:hover{
    text-decoration: none;
}
.search-block {
    width: 554px;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    height: 48px;
    padding: 0px 20px;
    align-items: center;
    margin: 0 32px;
}

.form-search {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.search {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background: none;
}

.search:focus {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: none;
    background: none;
}
.search-button {
    width: 24px;
    height: 24px;
    opacity: 0.4;
}

.menu {
    display: flex;
}
.account-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.account-title{
    color: #FFF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.account-title-block{
    margin-top: 6px;
}
.basket-icon-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket-title-block{
    margin-top: 6px
}
.basket-title{
    color: #FFF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.basket-icon{
    position: relative;
}
.basket-quantity-block{
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-flex;
    height: 16px;
    transform: rotate(0.074deg);
    padding: 0px 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background:#F55123;  
}
.basket-quantity{
    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 180% */
}
/* <!-- -------------------------------MAIN------------------------------------- --> */
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 88px;
    border-radius: 24px 24px 24px 24px;
    background-color: #FFF;
    padding: 34px 0px 0px 0px;
    background-color: #F6F6FA;
}
.caption{
    display: flex;
    flex-direction: column;
}
.main-basket-block{
    width: 640px;
    padding-left: 24px;
}
.backet-title{
    color: #000;
    font-family: Segoe UI;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.28px;
    margin-bottom: 27px;
}
.choose-all-checkbox{
    width: 643px;
    display: flex;
    justify-content: space-between;
}
.checkbox-click{
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.stroke{
    margin: 6px 0 12px 0;
}
.products{
    display: flex;
    flex-direction: column;
    width: 640px;
}
.product {
    display: flex;
}
.product:not(:first-child){
    margin-top: 20px;
}
.product-checkbox{
    margin-right: 12px;
}
.product-image-block{
    width: 72px;
    height: 96px;
    margin-right: 16px;
}
.product-descreption-block{
    width: 275px;
}
.product-color{
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.product-title{
    width: 275px;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 8px;
}
.product-size{
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.product-information{
    display: flex;
    margin-bottom: 8px;
}
.product-color{
    margin-right: 16px;
}
.address-wb{
    display: flex;
    flex-direction: column;
}
.adress-wb-text{
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}
.adress-wb-text:not(:first-child){
    margin-bottom: 2px;
}
.quantity-price-block{
    margin-left: 33px;
}
.quantity-block{
    display: flex;
    flex-direction: column;
}
.counter-block{
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus{
    /* display: inline-block;
    padding: 0px 7px 6px 8px; */
    display: flex;
    width: 9px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--rulers-rulers-input, rgba(0, 0, 0, 0.20));
text-align: center;

/* Сайт/Lead */
font-family: Segoe UI;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
letter-spacing: -0.2px;
}
.counter{
    display: flex;
width: 44px;
height: 23px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--text-black, #000);
text-align: center;
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.plus{
    display: flex;
width: 9px;
height: 16px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--text-black, #000);
text-align: center;

/* Сайт/Lead */
font-family: Segoe UI;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
letter-spacing: -0.2px;
}
.remainder-block{
    width: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.remainder{
    color: var(--dark-system-coral, #FF3B30);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.counter-icon{
    display: flex;
    justify-content: end;
}
.delete{
    margin-left: 16px;
}
.product-price-block{
    margin-left: 16px;
    width: 110px;
    height: 99px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}
.product-price{
    margin-bottom: 5px;
    color: var(--text-black, #000);
text-align: right;

/* Сайт/H3 */
font-family: Segoe UI;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
letter-spacing: -0.2px;
}
.product-price-old{
    color: var(--system-gray, #9797AF);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
text-decoration: line-through;
}
/* ----------------------------------------aside---------------------- */
.absent-block{
    margin-left: 24px;
    margin-top: 40px;
}
.absent-click{
    color: var(--text-black, #000);

/* Сайт/Body-semibold */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
.products-description-absent{
    color: var(--system-gray, #9797AF);

/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.product-color-absent{
    color: var(--system-gray, #9797AF);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
margin-right: 16px;
}
.product-size-absent{
    color: var(--system-gray, #9797AF);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.counter-icon-absent{
    width: 134px;
    display: flex;
    justify-content: end;
}
/* ------------------------------aside-------------------- */
.delivery-block{
    width: 638px;
    height: 362px;
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 24px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding: 16px 24px 24px 24px;
}
.delivery-title-block{
    display: flex;
    margin-bottom: 16px;
}
.delivery-title{
    width: 502px;
    height: 32px;
    margin-right: 10px;
}
.delivery{
    color: #000;
font-family: Segoe UI;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}
.change-delivery{
    color: var(--system-magenta, #CB11AB);

/* Сайт/H4 */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.delivery-information-block{
    display: flex;
}
.delivery-information{
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.place-delivery{
    display: inline-block;
    display: flex;
height: 44px;
align-items: flex-start;
gap: 36px;
color: var(--text-black, #000);
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
margin-bottom: 16px;
}
.price-delivery{
    color: var(--text-black, #000);
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
margin-bottom: 16px;
}
.data-delivery{
    display: flex;
height: 56px;
flex-direction: column;
align-items: flex-start;
color: var(--text-black, #000);
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
.data-delivery:first-child{
    margin-bottom: 16px;
}
.client-information{
    display: flex;
    flex-direction: column;
}
.address-client{
    color: var(--text-black, #000);

/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
display: inline-block;
margin-bottom: 4px;
}
.information-place{
    display: flex;
    margin-bottom: 16px;
}
.raiting-place{
    margin-right: 4px;
}
.raiting{
    margin-right: 8px;
    color: var(--text-black, #000);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.work-time{
    color: var(--text-black, #000);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.delivery-price-client{
    color: var(--text-black, #000);

/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-bottom: 16px;
}
.delivery-product-block{
    width: 405px;
    height: 56px;
    display: flex;
    margin-bottom: 16px;
}
.delivery-product{
    border-radius: 8px;
    width: 40px;
    height: 56px;
    margin-right: 8px;
}
.delivery-product-later-block{
    display: flex;
    height: 56px;
}
.delivery-img-later{
    width: 40.925px;

}
.quantity-delivery-product{
    display: flex;
    height: 16px;
    transform: rotate(0.065deg);
    padding: 1px 4px 0px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
right: 1.083px;
top: -5px;
border-radius: 16px;
background: var(--system-orange, #F55123);
}
.quantity-delivery{
    color: var(--system-white, #FFF);
text-align: center;
font-family: Segoe UI;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 180% */
width: 12px;
}
.back-delivery-block{
    margin-top: 24px;
    height: 22px;
    display: flex;
    align-content: center;
}
.back-delivery{
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.back-infromation{
    color: var(--text-black, #000);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.back-information-click{
    color: var(--system-green, #0CB477);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
/* __________________________________________ */
.payment-block{
    width: 640px;
    height: 136px;
    margin-left: 24px;
    margin-top: 16px;
    padding: 16px 24px 24px 24px;
    border-radius: 16px;
background: #FFF;
}
.payment-title-block{
    display: flex;
    margin-bottom: 16px;
}
.payment{
    color: #000;
font-family: Segoe UI;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}
.payment-method{
    display: flex;
    margin-bottom: 8px;
}
.payment-icon{
    display: flex;
width: 32px;
height: 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
background: var(--background-smoky, #F6F6FA);
margin-right: 8px;
}
.payment-information-block{
    display: flex;
}
.payment-information{
    color: var(--text-black, #000);

/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.payment-data{
    color: var(--text-black, #000);

/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-left: 12px;
}
.write-payment{
    color: var(--system-gray, #9797AF);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
/* ------------------------------------------------------------ */
.form-recipient{
    margin-left: 24px;
    margin-top: 16px;
    display: flex;
width: 638px;
height: 216px;
padding: 16px 24px 24px 24px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
border-radius: 16px;
background: var(--background-white, #FFF);
}
.recipient-title{
    color: var(--text-black, #000);

/* Сайт/H2-new */
font-family: Segoe UI;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}
.name{
    display: flex;
    margin-top: 16px;
}
.form-input{
    border: none;
    width: 283px;
    margin-bottom: 3px;
}
.form-input.placeholder{
    color: var(--system-gray, #9797AF);
/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.form-name{
    margin-right: 24px;
}
.form-family{
    width: 283px;
}
.additionally{
    display: flex;
}
.form-additionally{
    border: none;
    width: 180px;
    margin-right: 24px;
    margin-bottom: 3px;
}
.inn-warning{
    color: var(--text-black, #000);
font-family: Segoe UI;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
}
/* -------------------------------- */
.sum-block{
    height: 630px;
    display: flex;
width: 303px;
padding: 16px 24px 24px 24px;
flex-direction: column;
align-items: center;
gap: 24px;
border-radius: 16px;
background: var(--background-white, #FFF);

/* Тени/Итого, Выпадающие списки */
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
margin-left: 32px;
}
.sum-title-block{
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
.sum-title{
    color: var(--text-black, #000);

/* Сайт/H2-new */
font-family: Segoe UI;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}
.sum{
    color: var(--text-black, #000);

/* Сайт/H2-new */
font-family: Segoe UI;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.24px;
}
.sum-information{
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
.product-sum{
    display: flex;
    flex-direction: column;
}
.sum-info, .get-info{
    color: var(--text-black, #000);

/* Сайт/Body */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.get-product{
    display: flex;
    flex-direction:column;
    text-align: right;

}
.delivery-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.delivery-info-title{
    color: var(--text-black, #000);

/* Сайт/H4 */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}

.delivery-street{
    color: var(--text-black, #000);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
margin-bottom: 4px;
}
.delivery-date{
    color: var(--system-magenta, #CB11AB);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.back-delivery-container{
    display: flex;
padding: 8px 8px 12px 8px;
align-items: center;
gap: 8px;
align-self: stretch;
    width: 255px;
    height: 52px;
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
background: var(--background-smoky, #F6F6FA);
margin-top: 12px;
margin-bottom: 24px;
}
.write-off-block{
    display: flex;
padding: 8px 8px 12px 8px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
margin-top: 12px;
border-radius: 8px;
background: var(--background-smoky, #F6F6FA);
}
.write-off-info{
    margin-bottom: 8px;
    color: var(--text-black, #000);

    /* Сайт/Caption */
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    margin-left: 8px;
}
.write-off-warning{
    color: var(--text-black, #000);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.write-off-block{
    display: flex;
gap: 8px;
align-self: stretch;
}
.order-button-block{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.order-button-container{
    display: flex;
    height: 44px;
    padding: 0px 32px 5px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--system-magenta, #CB11AB);
}
.order-button{
    border: none;
    background: var(--system-magenta, #CB11AB);
    color: var(--system-white, #FFF);
text-align: center;

/* Сайт/H4 */
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
}
.order-warning{
    width: 220px;
    margin-top: 12px;
    display: flex;
    text-align: left;
}
.order-text{
    margin-left: 12px;
    color: var(--text-black, #000);

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
.footer{
    position: relative;
    z-index: 1;
    top: 70px; 
    width: 100%;
    height: 88px;
    display: flex;
padding: 24px;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 40px;
align-self: stretch;
background: var(--system-violet, #6725A8);
}
.footer-text{
    color: rgba(255, 255, 255, 0.70);
text-align: center;

/* Сайт/Caption */
font-family: Segoe UI;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}
@media(min-width: 1400px){
    .header-container{
        width: 1400px;
    }
    .search-block{
        width: 930px;
        display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
    }
    .main-basket-block{
        width: 890px;
    }
    .choose-all-checkbox{
        width: 890px;
    }
}